@(content: controllers.vo.PageContent)

@import org.apache.http.client.methods.HttpPost
@import constants.GeneralConstants
@import utils.MessagesUtils

@body = {
<div class="container raleway">
    <form autocomplete="off" class="login-form" action="@routes.AuthenticationController.authenticate()" method="@HttpPost.METHOD_NAME">
        <h2 class="text-center form-title">@MessagesUtils.getApplicationTitle()</h2>

        <input name="@GeneralConstants.LOGIN_ACCOUNT_FIELD" type="text" class="" placeholder="@MessagesUtils.getLoginPlaceholder()" required="" autofocus="">
        <input name="@GeneralConstants.PASSWORD_ACCOUNT_FIELD" type="password" class="" placeholder="@MessagesUtils.getPasswordPlaceholder()" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">@MessagesUtils.getSignIn()</button>
    </form>
</div>
}
@content.setCssClass("escamber-login-page")
@content.setBody(body)
@layout(content)